/* Централизованные стили для иконок и текста мессенджеров */
.messenger-icon {
    font-size: 4rem; /* Увеличен размер иконок на 100% */
    color: #FFFFFF;
}

.messenger-text {
    font-size: 0.8rem; /* Уменьшен размер текста на 50% */
    color: #FFFFFF;
}

.whatsapp-link:hover .messenger-icon,
.whatsapp-link:hover .messenger-text {
    color: #25D366; /* Зеленый цвет при наведении для WhatsApp */
}

.telegram-link:hover .messenger-icon,
.telegram-link:hover .messenger-text {
    color: #0088cc; /* Цвет Telegram при наведении */
}

.whatsapp-link:active .bi-whatsapp {
    color: green !important; /* Замените на желаемый цвет */
}

.telegram-link:active .bi-telegram {
    color: blue !important; /* Замените на желаемый цвет */
}

/* Удалены дублирующиеся стили из HTML */
.text-content {
    position: absolute;
    top: 20%; /* Move the text up by 20% */
    left: 7%; /* Align it to the left */
    transform: translateY(0); /* No vertical translation */
    color: white;
    font-size: 50%; /* Increase font size by 50% */
    line-height: 1.5; /* Add line height for readability */
}

.additional-text {
    position: absolute;
    top: 20%; /* Align with the first text block */
    right: 7%; /* Align it to the right */
    transform: translateY(0); /* No vertical translation */
    color: white;
    font-size: 50%; /* Increase font size by 50% */
    line-height: 1.5; /* Add line height for readability */
} 