/* Общие стили для иконок и текста мессенджеров */
.messenger-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messenger-icon {
    font-size: 5rem; /* Замените на желаемый размер */
    color: #FFFFFF;
}

.messenger-text {
    font-size: 0.8rem; /* Уменьшен размер текста на 50% */
    color: #FFFFFF;
}

.messenger-link:hover .messenger-icon,
.messenger-link:hover .messenger-text {
    color: #25D366; /* Зеленый цвет при наведении для WhatsApp */
}

.messenger-link:active .messenger-icon {
    color: green; /* Замените на желаемый цвет */
}

.messenger-link:active .messenger-text {
    color: blue; /* Замените на желаемый цвет */
}

/* Удалены дублирующиеся стили из HTML */
.text-content, .additional-text {
    position: absolute;
    top: 20%; /* Move the text up by 20% */
    color: white;
    font-size: 50%; /* Increase font size by 50% */
    line-height: 1.5; /* Add line height for readability */
}

.additional-text {
    right: 7%; /* Align it to the right */
}

/* Добавлены общие стили для ссылок на WhatsApp и Telegram */
.whatsapp-link {
    color: #25D366; /* Зеленый цвет для WhatsApp */
}

.telegram-link {
    color: #0088cc; /* Цвет Telegram */
}